button {
  background-color: beige;
  border: 1px solid peru;
  padding: 1em;
  border-radius: 0em;
  color: blue;
  cursor: pointer;
  width: 100%;
}

.btn {
  font-size: 15px;
}

button:hover {
  background-color: black;
  color: white;
}
